
<div class="table-responsive">
  <!--<div class="row">-->
  <!--  <div class="col-10 mx-auto">-->
      <table class="table">
        <thead class="thead-dark">
          <h3><新着順です！！></h3>
          <tr>
            <th scope="col">ライディング</th>
            <th scope="col">ライダー</th>
            <th scope="col">撮影日</th>
            <th scope="col">撮影場所</th>
            <th scope="col">コメント</th>
            <th scope="col"><i class="fas fa-heart"></i></th>
            <th scope="col">削除(投稿者のみ可能)</th>
          </tr>
        </thead>
        <tbody>
          <% @movies.each do |movie|%>
            <tr>
              <td> <iframe class="movie_iframe" width="448" height="252" src="https://www.youtube.com/embed/<%= movie.video_id%>"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
              <td> <%=movie.name %> </td>
              <td> <%=movie.datetime %> </td>
              <td> <%=movie.place %> </td>
              <td> <%=movie.self_comment %> </td>
              <td>
                <% if current_user.already_favorited? (movie) %>
                  <%= link_to movie_favorites_path(movie), method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                  <%= movie.favorites.count %>
                <% else %>
                  <%= link_to movie_favorites_path(movie), method: :post do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <%= movie.favorites.count %>
                <% end %>
              </td>
              <td>
                <% if user_signed_in? && current_user.id == movie.user_id %>
                  <div class="more">
                    <span><%= image_tag 'arrow_top.png' %></span>
                      <ul class="more_list">
                        <li>
                          <%= link_to '削除', "/movies/#{movie.id}", method: :delete %>
                        </li>
                      </ul>
                  </div>
                <% end %>
              </td>
            <tr>
          <% end %>
        </tbody>
      </table>
  <!--  </div>-->
  <!--</div>-->
</div>